<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="group">      
            <mat-icon aria-hidden="false" aria-label="Icono de persona">person</mat-icon>
            <input type="text" formControlName="email"/>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
        </div>
        
        <div class="group">      
            <mat-icon aria-hidden="false" aria-label="Icono de contraseña">lock_outline</mat-icon>
            <input type="password" formControlName="password"/>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Contraseña</label>
        </div>

        <label class="switch">
            <input type="checkbox" formControlName="remember">
            <span class="slider round"></span>
        </label>

        <p *ngIf="loginStatus != undefined && loginStatus.show">{{ loginStatus.message }}</p>

        <button class="button-primary" type="submit">Acceder</button>
    </form>
</div>